{
  "staging": {
    "driver": "{{ driver_enc }}",
    "user": "{{ user_enc }}",
    "password": "{{ password_enc }}",
    "host": "{{ host_enc }}",
    "database": "{{ database_enc }}",
    "schema": "{{ schema_enc }}"
  },
  "homologation": {
    "driver": "pg",
    "user": "educap",
    "password": "demo@2021",
    "host": "localhost",
    "database": "educapdemo",
    "schema": "public"
  },
  "local": {
    "driver": "pg",
    "user": "classebook",
    "password": "123456",
    "host": "localhost",
    "database": "classebook",
    "schema": "public"
  },
  "production": {
    "driver": "pg",
    "user": "educapprod",
    "password": "prod123456",
    "host": "educap-prod.clqdw1bwyapk.eu-west-3.rds.amazonaws.com",
    "database": "educapprod",
    "schema": "public"
  }
}
